*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Note: This is NOT typography.
     Rather it is a global definition of what 1rem should be.
    
    Note: (10px/16px) * 100% = (0.625 * 100) = 10px = 1rem
  */
  font-size: 62.5%;

  //NOTE: The following of Media Queries apply to:
  // Desktop-First approach
  @include respond(tab-land) {
    // is width < 1200px?
    // 1rem = 9px, 9/16 = 56.25%
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    // is width < 900px?
    // 1rem = 8px, 8/16 = 50%
    font-size: 50%;
  }

  /* 
   @include respond(phone) {
   width < 600px
   font-size: 30%; // 1rem = 4.8px
   }
   */

  @include respond(big-desktop) {
    // 1rem = 12px, 12/16 = 75%
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}
